
:root {
  --wood-brown: #a67c52;
  --dark-brown: #4a3728;
  --woodlab-green: #056e1cb7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--woodlab-green);
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--wood-brown);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-brown);
}